<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% include "header.html" %}

<body>

{% include "navbar.html" %}

<div class="container-xl mb-4 main-container">

    <h1>Not Supported</h1>
    <div class="text-section">
        This file format is not supported. Please upload your picture in either <strong>.jpg</strong> or <strong>.png</strong>
    </div>


    {% include "scripts.html" %}

</div>

{% include "footer.html" %}

</body>
</html>